---
title: Tags
prose: false
---
<div class="prose">
  <p>all posts by tag</p>
  <h1>Post tags</h1>
</div>
<ul class="text-lg">
  {% for tag in site.tags %}
    <li class="mt-60">
      <code>{{ tag[0] }}</code>
      <ul>
        {% for post in tag[1] %}
        <a href="{{ post.url }}">
          <li class="my-[10px] flex justify-between">
            <span class="underline">{{ post.title }}</span>
            <time datetime="{{ post.date }}" class="text-sm">{{ post.date | date_to_string}}</time>
          </li>
        </a>
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
</ul>
