{% unless page.skip_world %}
  <button id="start-stop" title="start/pause simulation" class="hidden sm:block fixed z-10 bottom-30 right-30 border-none rounded-sm -mx-[5px] px-[5px] hover:bg-dark/10 dark:hover:bg-light/10">
    &#x23F5;
  </button>
  <canvas id="canvas" width="1600" height="800" style="position: fixed; top: 0; left: 0; opacity: 0.6"></canvas>
  <script type="module">
    import { Channel } from '/assets/channel.js'
    import { Pointers } from '/assets/pointers.js'
    import { World } from '/assets/world.js'

    const startStopButton = document.querySelector('#start-stop')
    const canvas = document.getElementById('canvas')
    const world = new World(canvas, startStopButton)

    const channel = new Channel('ws://localhost:3000/cable', 'SessionChannel')
    const pointers = new Pointers()

    channel.onMessage = (data) => {
      switch (data.type) {
        case 'unsubscribe':
          pointers.updatePointer(data.client_id, null, null)
          break
        case 'push_cell':
          world.pushCell(data.client_id, data.x, data.y, data.color)
          const [canvasX, canvasY] = world.gridToCanvas(data.x, data.y)
          pointers.updatePointer(data.client_id, canvasX, canvasY)
          break
        case 'flush':
          world.flushPaintBuffer(data.client_id)
          break
      }
    }

    world.onPushPaintBuffer = function (x, y, color) {
      channel.sendPushPaintBuffer(x, y, color)
    }
    world.onFlushPaintBuffer = function () {
      channel.sendFlushPaintBuffer()
    }
  </script>
{% endunless %}
