#world { position: fixed; top: -10px; left: -4px; transform-origin: top left }
.hex-row { display: flex; height: 19px }
.hex.even { position: relative; top: 9.5px }
.hex:before {
  content: '';
  display: block;
  width: 10px;
  height: 17.3px;
  rotate: 60deg;
  background: #fff;
  transition: background-color 25ms;
}
.hex {
  width: 10px;
  height: 17.3px;
  margin-right: 6px;
  background: #fff;
  transition: background-color 25ms;
}
.hex:after {
  content: '';
  display: block;
  position: relative;
  top: -17.3px;
  width: 10px;
  height: 17.3px;
  rotate: -60deg;
  background: #fff;
  transition: background-color 25ms;
}
.dark .hex, .dark .hex::before, .dark .hex::after { background: #222 }
.hex.alive, .hex.alive::before, .hex.alive::after { background: #f4f4f4 }
.dark .hex.alive, .dark .hex.alive::before, .dark .hex.alive::after { background: #3e3e3e }
