/* purgecss start ignore */
@tailwind base;

/* add base styles here */
@font-face {
  font-family: Noah;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Noah-Bold.woff2') format('woff2');
}

@font-face {
  font-family: RobotoMono;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/RobotoMono-Regular.woff2') format('woff2');
}

body {
  @apply text-dark bg-light dark:text-light dark:bg-dark;

  font-size: 20px;
  line-height: 32px;

  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',  Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, 'Helvetica Neue', sans-serif;
}

h1 {
  font-family: Noah, sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
  @apply mt-30 mb-30 break-words;
}

h2 {
  font-size: 30px;
  line-height: 36px;
  @apply font-mono mt-45 mb-15;
}

h3 {
  font-family: Noah, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 36px;
  font-variant: small-caps;
  margin: 50px 0 10px 0;
  @apply tracking-widest lowercase;
}

p + p,
ul + p,
ol + p,
p + ol {
  @apply mt-30;
}

ul {
  padding-left: 1em;
  list-style-type: disc;
}

ol {
  padding-left: 1em;
  list-style-type: decimal;
}

a {
  @apply underline;
}

code {
  padding: 2px 4px;
  @apply font-mono text-14 whitespace-pre-wrap bg-dark-20 dark:bg-dark-80;
}

pre > code {
  padding: 0;
}

@import './prism.css';

@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

.font-heading {
  font-family: Noah, sans-serif;
  font-weight: 700;
}

.ascii-diagram {
  line-height: 1;
  font-family: monospace;
  overflow-x: auto;
}
