<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/css/default.css">
    <link rel="stylesheet" href="/assets/css/fonts.css">
    <link rel="icon" href="/assets/favicon.png" type="image/png">
    {% feed_meta %}
    {% seo %}
  </head>
  <body>
    {% include themeToggle.html %}
    <div class="golden bg-grid">
      {% include navigation.html %}
      <main class="mt-60 max-w-none {% if page.prose %}prose{% endif %}">
        {{ content }}
      </main>
    </div>
    <script>
      {% include theme.js %}
    </script>
  </body>
</html>
