<!doctype html>
<html lang="{% if page.categories contains 'cs' %}cs{% else %}en{% endif %}">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/css/default.css?{{ site.time | date: '%s%N' }}">
    <link rel="stylesheet" href="/assets/css/fonts.css">
    <link rel="stylesheet" href="/assets/css/monokai.css">
    <link rel="icon" href="/assets/favicon.png" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} &middot; bitgate</title>
    {% feed_meta %}
    {% seo title=false %}
  </head>
  <body>
    {% include themeToggle.html %}
    <div class="overflow-x-hidden">
      <div class="golden bg-grid">
        {% include navigation.html %}
        <main class="mt-30 md:mt-60 max-w-none {% if page.prose %}prose{% endif %}">
          {{ content }}
        </main>
      </div>
    </div>
    <script>
      {% include theme.js %}
    </script>
  </body>
</html>
